.main_img{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #181818;
}

.main_img img {
  width: 100%;
  max-width: 1440px;
}

.home__hero_section.accent strong{
  color: #ffffff;
}

.content_title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content_title strong {
  color: var(--bulls-yellow);
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.sub_title {
  font-size: 15px;
}

.home__video_content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__video_content img {
  width: 800px;
}

.home__sns_content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__sns_content img{
  width: 110px;
}

.sns_contentgroup,
.sub_contentgroup ul{
  display: flex;
  flex-direction: row;
}


.sns_contentcard {
  margin: 1rem;
  border: #000;
  border-radius: 20px;
  background: #000;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.sns_contentcard img {
  width: 100%;
  height: 100%;
}

.instagram-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram_logo i {
  font-size: 30px;
}

.text_btn {
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight:400;
  outline:none;
  position: relative;
  overflow: hidden;

  padding:10px 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000000;
}

.text_btn_group {
  margin-top:15px;
  min-width: 250px;
}

.text_btn_group p {
 display: flex;
 justify-content: center;
}

.text_btn_group button {
  margin: 0.5rem;
}

.sponsor_img_card > div {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--bulls-yellow);
  font-size: 20px;
  width: 100%;
  height: 7rem;
  border-radius: 0 0 20px 20px;
  /* 투명색 border를 주기 때문에 이미지보다 사각형이 조금더 커진다. 따라서 transform을 주어 테두리 굵기만큼 줄여주어야 한다.*/
  transform: scale(0.995, 1);
}
/* 카드안의 글씨 */
.sponsor_img_card > div * {
  padding: 0.9rem;
}



.home__card,
.home__card_reverse
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
  width: 100%;
}

.home__card_reverse {
  flex-direction: row-reverse;
}

.home__card_img {
  width: 400px;
}

.home__card_content {
  margin: 20px;
}

.mobile_text_btn {
  display: none;
}

.hidden_btn {
  display: none;
}

.home__video_content {
  width: 780px;
  height: 540px;
}

.home__sns_card_group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__sns_card {
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.3);
  width: 110px;
  height: 110px;
}

.home__sponsor_group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.home__sponsor_img {
  display: flex;
  align-items: center;
  width: 10rem;
}

@media screen and (max-width: 639px) { 
  .home__card,
  .home__card_reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0; 
  }

  .content_title {
    font-size: 25px;
  }

  .sub_title {
    display: none;
  }

  .text_btn_group {
    display: none;
  }
  
  .home__card_content {
    margin-bottom: 0;
  }
  .home__card_img {
    width: 350px;
    margin-bottom: 15px;
  }
  .mobile_text_btn {
    display: block;
  }

  .home__video_content {
    width: 400px;
    height: 300px;
  }

  .home__sns_card_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__sns_card {
    width: 200px;
    height: 200px;
  }

  .home__sponsor_group {
    flex-direction: column;
  }

  .home__sponsor_img {
    margin: 40px;
  }
}